// Fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&display=swap');

// Variables
@import 'variables';

@import "css/hover.css";

$tec-color: #0D1931;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Welcome
#welcome {
    background-image: url('public/images/commercial/Background1.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Baloo Da 2', cursive;
    font-weight: bold;
    min-height: 100vh;
    margin: 0;
}

#welcome .s-header {
    height: 25vh;
}

#welcome .s-header > div > div > a {
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(white, 0.5);
}

#welcome .s-header > div > div > a:hover {
    transition: background-color 1s ease;
    background-color: #5cb85c;
}

#welcome .s-facts {
    padding-top: 150px;
    padding-bottom: 100px;
    background: #C3C3C3;
}

#welcome .s-poster > img {
    padding-top: 100px;
    width: 100%;
}

#welcome .s-steps {
    padding-top: 100px;
    padding-bottom: 100px;
}

// Login
#login {
    background-image: url('public/images/commercial/Background1.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Baloo Da 2', cursive;
    font-weight: bold;
    color: white;
    min-height: 100vh;
    margin: 0;
}

#login .s-form .link {
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

// Register
#register {
    background-image: url('public/images/commercial/Background1.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Baloo Da 2', cursive;
    font-weight: bold;
    color: white;
    min-height: 100vh;
    margin: 0;
}

// Scene
.scene-wall{
    background-image: url('public/images/commercial/Background3.jpg');
    background-size: cover;
    min-height: inherit;
}
.scene-wall-fixed {
    background-image: url('public/images/commercial/Background3.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: inherit;
}
.scene-cobweb {
    background-image: url('public/images/commercial/Background2.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.scene-chip-1 {
    background-image: url('public/images/commercial/Background-chip-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: inherit;
}
.scene-chip-2 {
    background-image: url('public/images/commercial/Background-chip-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: inherit;
}

.scene-disabled {
    background-image: url('public/images/commercial/Background5.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: inherit;
}

// Carcass
#carcass {
    height: 400px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: firebrick;
    border-width: 7px;
}
#carcass > .card-header,
#carcass > .card-header > img {
    height: 200px;
}

// Home
#home .s-services {
    background-color: #1d809f;
}

#home .s-facts-header {
    color: #ffed4a;
}

// App
#app {
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
}

#app > nav > a > img {
    height: 50px;
}

#app > nav {
    background: #0D1931;
}

#app .s-footer {
    background-color: #0D1931;
}

#app .s-footer > div > div > a {
    color: #C3C3C3;
}

#app .s-footer > div > div > a:hover {
    color: white;
}

#app .s-main {
    min-height: calc(100vh - 156.22px);
}

// Account
#account,
#account .container-fluid,
#account .container-fluid .row,
#account .container-fluid .row .col-md-6,
{
    min-height: inherit;
}

//Shopping Cart
#shoppingCart-index,
#shoppingCart-index .container-fluid,
#shoppingCart-index .container-fluid .row,
#shoppingCart-index .container-fluid .row .col-md-6,
#shoppingCart-index .status-bar,
{
    min-height: inherit;
}

#products-shop .s-showcase>div>form>button>div {
    min-height: inherit;
}

#verify {
    min-height: inherit;
    background-image: url('public/images/commercial/Background1.jpg');
    background-size: cover;
}

#verify .container {
    min-height: inherit;
}

#users-index,
#users-show,
#users-edit,
#products-index,
#products-show {
    padding-bottom: 30px;
}

#payment-response {
    min-height: inherit;
}

#users-index .s-header > div > a > img,
#users-show .s-header > div > a > img,
#users-edit .s-header > div > a > img,
#products-index .s-header > div > a > img,
#products-create .s-header > div > a > img,
#products-show .s-header > div > a > img,
#products-report .s-header > div > a > img,
#products-edit .s-header > div > a > img {
    height: 50px;
}

#users-show .s-header > div > a > i,
#products-index .s-header > div > a > i {
    font-size: 45px;
    color: #000000;
}

#users-index .s-table th,
#products-index .s-table th {
    text-align: center;
    vertical-align: middle;
}

#users-index .s-table td,
#products-index .s-table td {
    text-align: center;
    vertical-align: middle;
}

#shoppingCart-index .s-table td {
    vertical-align: middle;
}

#products-show .s-presentation > div > div > div > img {
    height: 464px;
}

#products-edit textarea {
    height: 180px;
}

#users-show .s-userInfo > div > div {
    height: 210px;
}

#products-shop .s-showcase > div > form > button .card-body {
    width: 100%;
}

#disabled .s-header {
    -webkit-text-stroke: 2px black;
    font-size: 40px;
}

#profile,
#shopping-history {
    min-height: 100%;
    background-color: #122344;
}

#profile > .container,
#shopping-history > .container {
    min-height: 100%;
}

#shopping-history > div > div > div > div {
    background-color: #182D59;
    border-radius: 15px;
}

.modal-custom {
    background-color: #1D366D;
}

.tab-sidebar > div {
    min-height: inherit;
    justify-content: center;
}

.tab-sidebar {
    background-color: $tec-color;
    min-height: 70px;
    text-decoration: none !important;
}

.tab-sidebar-active {
    background-color: #070E1C;
    //background: rgb(255,255,255);
    //background: linear-gradient(0deg, rgba(255,255,255,0.19681375968356096) 0%, rgba(255,255,255,0.0959734235491071) 50%, rgba(255,255,255,0.19681375968356096) 100%);
    text-decoration: none !important;
}

.tab-sidebar :hover {
    background-color: #070E1C;
    transition-duration: 1s;
    text-decoration: none !important;
}

.tab-sidebar-active :hover {
    text-decoration: none !important;
}

.pressurable :hover {
    padding: 5px;
}

.title-tec {
    font-weight: 800;
    margin: 0;
}

.btn-tec {
    color: white;
    font-size: inherit;
    background-color: $tec-color
}

.btn-tec:hover {
    color: white;
    font-size: inherit;
    background-color: #182D59;
}

.bg-computer {
    background-color: #411f1f;
    width: 100%;
}

.bg-smartphone {
    background-color: #f37121;
    width: 100%;
}

.bg-accessory {
    background-color: #851de0;
    width: 100%;
}

.br-computer {
    -webkit-text-stroke: 1px #2C542B;
    width: 100%;
}

.br-smartphone {
    -webkit-text-stroke: 1px #f37121;
    width: 100%;
}

.br-accessory {
    -webkit-text-stroke: 1px #851de0;
    width: 100%;
}

.bg-black {
    background-color: black;
}

.bg-tec {
    background-color: $tec-color;
}

.sizer {
    font-size: 20px;
}

.price {
    font-size: 40px;
    color: yellow;
    -webkit-text-stroke: 2px black;
}

.views {
    font-size: 40px;
    color: firebrick;
    -webkit-text-stroke: 2px black;
}

.button-naked {
    padding: 0;
    border: none;
    background: none;
}

.ani-grow {
    -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
}

.service-icon {
    background-color: #fff;
    color: #1d809f;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
}

.bg-cloud {
    background-color: #F8FAFC;
}

.br-green {
    -webkit-text-stroke: 1px green;
}

.br-red {
    -webkit-text-stroke: 1px red;
}

.br-black {
    -webkit-text-stroke: 1px black;
}

.sel:hover {
    color: #0F9E5E;
}

.nd:hover {
    text-decoration: none;
}

[v-cloak] {
    display: none;
}
